footer {
	@include flex($dir:column);
	clear: both;
	background: palette(black,light);
	color: $white;
	padding-bottom: 10px;
	@include mq(medium) {
		margin-top: 40px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	p {
		@include mq(small) {
			width: 100%;
			text-align: center;
			margin: 20px 0;
		}
	}

	.wrapper {
		background: linear-gradient(rgba(0,0,0,0.7),palette(black,light));
		width: 100%;
		margin: 0 0 20px;
		padding: 20px 5px;
		@include flex($just:center,$dir:column);
		@include mq(medium) {
			flex-direction: row;
			justify-content: space-between;
			padding:20px;
		}
	}

	.socials {
		background: none;
		margin: 0 auto;
		@include mq(medium) {
			width: 50%;
			margin-left: 0;
		}
	}

	.links {
		text-align: center;
		li {
			display: inline-block;
			margin: 20px 10px 0;

			a{
				color: white;
				display: block;
				font-size: em(11px);
			}
		}
	}
}

.change-lang {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 15px;

	i.fa {
		margin-left: 25px;
		font-size: 15px;
		transition: transform .5s ease;
	}

	&:focus {
		outline: none;
	}


	img {
		margin-bottom: -3px;
	}

	
}

.lang {
	position: relative;
	margin-left: auto;
	margin-right: 0;

	@include mq(small) {
			width: 100%;
			text-align: center;
			margin: 10px auto;
		}

	img {
		width: 15px;
		height: 15px;
		margin-right: 10px;
		margin-bottom: -1px;
	}
}

.language {
	background: white;
	color: palette(black,light);
	display: none;
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: -620%;
	border-radius: 5px;
	width: 100%;
	text-align: center;

	li {
		margin: 20px;

		a:hover {
			color: $spring-green;
		}
	}
}

.up_arrow{
    transform:rotate(-180deg);
}
