footer {
	@include flex();
	clear: both;
	background: palette(black,light);
	padding: 20px;
	color: $white;
	@include mq(medium) {
		margin-top: 40px;
	}
}

.change-lang {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 15px;

	&:focus {
		outline: none;
	}


	img {
		margin-bottom: -3px;
	}

	i.fa {
		margin-left: 25px;
		font-size: 15px;
		transition: transform .5s ease;
	}
}

.lang {
	position: relative;
	margin-left: auto;
	margin-right: -10px;

	@include mq(small) {
		width: 200px;
		text-align: right;
	}

	img {
		width: 15px;
		height: 15px;
		margin-right: 10px;
		margin-bottom: -1px;
	}
}

.language {
	background: white;
	color: palette(black,light);
	display: none;
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: -620%;
	border-radius: 5px;
	width: 100%;
	text-align: center;

	li {
		margin: 20px;

		a:hover {
			color: $spring-green;
		}
	}
}

.up_arrow{
    transform:rotate(-180deg);
}
